<div class="logo-header flex items-center flex-shrink-0 text-white px-3 py-6" *ngIf="nav.visible">
	<a [routerLink]="'/'" class="flex flex-wrap">
		<sup>
			<svg viewBox="0 0 20 20" fill="currentColor" class="sun w-6 h-6"><path fill="gold" fill-rule="evenodd" d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" clip-rule="evenodd"></path></svg>
		</sup>
		<span class="font-semibold text-xl tracking-tight">Booqing</span>
	</a>
</div>
<nav class="flex items-center justify-between flex-wrap px-12 py-3" *ngIf="nav.visible">
	<div class="block lg:hidden">
		<button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
			<svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
		</button>
	</div>
	<div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
		<div class="text-sm lg:flex-grow">
			<a [routerLink]="'/'" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-8">
				Search
			</a>
			<a [routerLink]="'/contact'" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-8">
				Contacts
			</a>
		</div>
	</div>
</nav>
